<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if site.twitter %}
  <!-- Twitter Cards -->
  {% if page.imagefeature %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}/img/{{ page.imagefeature }}">
  {% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{% if page.image.thumb %}{{ site.url }}/img/{{ page.image.thumb }}{% else %}{{ site.url }}/img/{{ site.logo }}{% endif %}">
  {% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
  {% endif %}
  {% if site.facebook %}
  <!-- Open Graph -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.imagefeature %}<meta property="og:image" content="{{ site.url }}/img/{{ page.imagefeature }}">{% else %}<meta property="og:image" content="{{ site.url }}/img/{{ site.default_bg }}">{% endif %}
  {% endif %}
  {% if site.google_verify %}
  <!-- Google verification -->
  <meta name="google-site-verification" content="{{ site.google_verify }}">
  {% endif %}
  {% if site.bing_verify %}
  <!-- Bing verification -->
  <meta name="msvalidate.01" content="{{ site.bing_verify }}">
  {% endif %}
  <!-- basics -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,900" >
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  {% if site.google_plus %}<link rel="author" href="{{ site.google_plus }}?rel=author">{% endif %}
  <!-- icons -->
  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
  <link rel="apple-touch-icon" href="{{ site.url }}/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/img/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/img/apple-touch-icon-152x152.png">

<!-- modernizr
  <script src="{{ "/js/modernizr.min.js" | prepend: site.baseurl }}"></script>
-->
<!-- Picture element HTML5 shiv
  <script>
    document.createElement( "picture" );
  </script>
  <script src="{{ '/js/picturefill.min.js' | prepend: site.baseurl }}" async></script>
  <style>
    picture { display: block; margin: 0 auto; }
  </style>
 -->
 </head>