<div itemscope itemtype="http://schema.org/Person">
<!--   <a itemprop="url" href="http:\\jere.me">
    <div itemprop="name"><strong>Jeremy</strong></div>
  </a> -->
  <div itemscope itemtype="http://schema.org/Organization">
    <span itemprop="url">jere.me</span>
  </div>
  <div itemprop="jobtitle">web developer</div>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div>
      <span itemprop="addressLocality">Edmonton</span>
      ,
      <span itemprop="addressRegion">Alberta</span>
    </div>
    <div itemprop="addressCountry">Canada</div>
  </div>
  <div itemprop="email">me@jere.me</div>
</div>