<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include head.html %}
<body>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"><span class="nav-icon"></span></label>
  <nav role="navigation">
    {% include nav.html %}
  </nav>

  <div class="site-wrapper">
    <div class="site-content">
      <div class="block--full">
        <div class="block--centered">
          <aside>
            <img src="{{ site.url }}/img/{{ site.avatar }}" alt="jere.me" class="logo">
          </aside>
          <main role="main">
            {{ content }}
<!--
        {% if page.page == "portfolio" %}
          <h1>portfolio page</h1>
        {% else %}
        {% endif %}
-->
          </main>
        </div>
      </div>
    </div>
  </div>

</body>
</html>