<!DOCTYPE html>
<html dir="ltr" lang="en">
  {% include head.html %}
<body>

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger"><span class="nav-icon"></span></label>
  <nav role="navigation">
    {% include nav.html %}
  </nav>


  <div class="site-wrapper">

    {% if page.page == "portfolio" %}
      {{ content }}
    {% else %}

    <div class="site-content">
      <div class="site-full">
       <div class="site-full--center">
          <aside>
            <img src="{{ site.url }}/img/{{ site.avatar }}" alt="jere.me" class="logo" height="208" width="293">
          </aside>
          <main role="main">
            {{ content }}
          </main>
        </div>
      </div>
    </div>

    {% endif %}
  </div>



{% if page.page == "portfolio" %}
  {% include scripts.html %}
{% endif %}

</body>
</html>